@{
    ViewBag.Title = "About";
}

<head>
    <link rel="stylesheet" href="#">
</head>

<h2 style="margin-left:100px;">@ViewBag.Title e-Archive:</h2>
<img src="https://i.ibb.co/wLJVzbd/logo-earchive.png" alt="logo-earchive" border="0" width="300" style="margin-left:100px;">
<br />
<h4 style="margin-left:100px;">@ViewBag.Message</h4>

<p style="margin-left:100px;">EBBEB is a five-member capstone group from the third years of section D.</p>
