@{
    ViewBag.Title = "Contact";
}

<head>
    <link rel="stylesheet" href="#">
</head>

<h2 style="margin-left:100px;">@ViewBag.Title Us.</h2>

<img src="https://i.ibb.co/RC0QmKS/logo-mluc.png" alt="logo-mluc" border="0" width="300" style="margin-left:100px;">

<h3 style="margin-left:100px;">@ViewBag.Message</h3>

<address style="margin-left:100px;">
    National Highway, Barangay Catbangen, City of San Fernando<br />
    La Union, Region 1, 2500, Philippines<br />
    <abbr title="Phone">P:</abbr>
    (072)-700-5453
</address>

<address style="margin-left:100px;">
    <strong>Institutional Web Site:</strong>   <a href="https://www.dmmmsu.edu.ph">www.dmmmsu.edu.ph</a><br />
    <strong>Institutional Email Address:</strong>   <a href="mailto:chancellor.mluc@dmmmsu.edu.ph">chancellor.mluc@dmmmsu.edu.ph</a><br />
</address>