@{
    ViewBag.Title = "Home";
}

<!--DEFAULT HOME PAGE-->
<head>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<div class="jumbotron" style="position:center; margin-left:100px; margin-right:100px;">
    <h1>e-Archive</h1>
    <p class="lead">e-Archive is a web-based application for our Capstone Project 1.</p>
    <p><a href="https://github.com/stephannyeong/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h3 style="text-align: center;">REFERENCES USED FOR THIS PROJECT</h3><br /><br />

<div class="row" style="position:center; margin-left:100px; margin-right:100px;">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>
            ASP.NET MVC gives its users a powerful, patterns-based way to build dynamic websites,
            that is why we used this for our web app. It gave us full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MySql Database</h2>
        <p>
        SQL Server Management Studio (SSMS) is an integrated environment for managing any SQL infrastructure,
        from SQL Server to Azure SQL Database. SSMS provides tools to configure, monitor, and administer instances of SQL Server and databases.
        </p>
        <p><a class="btn btn-default" href="https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ervis Trupja</h2>
        <p>We followed various tutorials made by Ervis Trupja in creating this project. Linked below is his YouTube account.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/channel/UCUT3pHHoV5Kvnk-3F0boTWg">Learn more &raquo;</a></p>
    </div>
</div>

<br /><br /><br /><br /><br />
    
